html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    padding: 10px;
    background-color: #262626;
    color: rgb(213, 212, 212);
    overflow: hidden;
}

.navbar h1 {
    margin-top: 10px;
    font-size: 1.5rem;
}
/*End of Navbar*/

/* Home Page */
#homePage h1 {
    margin-top: 150px;
    font-size: 3rem;
}

#homePage p {
    font-size: 1.5rem;
    max-width: 600px;
    margin-bottom: 50px;
}

.homePageContainer {
    margin-left: 50px;
}

.homePageContainer a {
    text-decoration: none;
    padding: 15px 80px;
    font-size: 1.5rem;
    background-color: #262626;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}

a:hover {
    background-color: #404040;
    transition: all 0.5s;
}

.homePageImage1 {
    position: absolute;
    left: 55%;
    top: 30%;
    width: 550px;
    height: 300px;
    background-color: red;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.homePageImage2 {
    position: absolute;
    left: 55%;
    top: 30%;
    width: 440px;
    height: 300px;
    background-color: blue;
    margin: 100px 50px 0px 50px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.homePageImage3 {
    position: absolute;
    left: 55%;
    top: 30%;
    width: 340px;
    height: 250px;
    background-color: purple;
    margin: 220px 100px 0px 100px;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/* End of Home Page */

/*Quiz Selection Page*/
#quizSelectionPage h1 {
    margin-top: 250px;
    font-size: 3rem;
    text-align: center;
}

 .quizSelectionContainer {
     margin-top: 100px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .quizSelection {
     margin: 50px 50px;
     padding: 10px 20px;
     width: 500px;
     height: 300px;
     font-size: 1.5rem;
     color: rgb(0, 0, 0);
     border: #c4c4c4 2px solid;
     border-radius: 10px;
     cursor: pointer;
     overflow: hidden;
     position: relative;
 }

 .quizSelection::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     backdrop-filter: blur(0);
     z-index: -1;
     transition: backdrop-filter 0.5s ease;
 }

 .quizSelection:hover::before {
     backdrop-filter: blur(5px);
 }

 .quizSelection h2 {
    position: absolute;
    left: 40%;
    text-align: center;
    margin-top: 25%;
    opacity: 1;
    transition: opacity 0.5s ease;
 }

 .quizSelection:hover h2 {
     opacity: 0;
 }

.quizSelection p {
    max-width: 400px;
    text-align: center;
    margin: 15% 15% 8% 15%;
}

.quizSelection a {
    margin-left: 35%;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 1.5rem;
    background-color: #262626;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}

 .quizSelection p,
 .quizSelection a {
     opacity: 0;
     transition: opacity 0.5s ease;
 }

 .quizSelection:hover p,
 .quizSelection:hover a {
     opacity: 1;
 }


.quizSelection a:hover {
    background-color: #404040;
    transition: all 0.5s;
}
/* End of Quiz Selection Page */

/* Keyframes */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
 }