html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;

}

/* Navbar */
.navbar {
    padding: 20px;
    background-color: #262626;
    color: rgb(213, 212, 212);
    overflow: hidden;
}

.navbar a {
    margin-top: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #f0e68c;
    transition: all 0.5s;
}

/*End of Navbar*/

/* Quiz Container */
.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Quiz Question */
.quizQuestion {
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 20px;
    border: solid black 1px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Quiz Options */
.quizOptions {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 0px;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.quizOptions button{
    border: none;
    margin: 0px 100px 40px 100px;
    padding: 30px 100px;
    cursor: pointer;
    border-radius: 10px;
    background-color: bisque;
    font-size: 1.2rem;
}

.quizOptions button:hover {
    background-color: rgba(242, 196, 139, 0.752);
    transition: all 0.3s;
}
.correct 
{
    background-color: rgba(0, 98, 0, 0.84) !important;
    color: rgb(255, 255, 255);
}
.incorrect 
{
    background-color: rgba(255, 0, 0, 0.891) !important;
    color: black;
}

/* End of Quiz Options */

#score {
    display: none;
    margin-bottom: 150px;
    font-weight: bold;
    font-size: 20px;
}

.homeBtn{
    display: block;
    color: bisque;
    margin-top: 30px;
    border: solid black .3px;
    padding: 20px 70px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;   
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
}

.homeBtn:hover{
    background-color: rgb(65, 63, 63);
}

.progress {
    width: 500px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 10px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 10px;
    transition: width ease 0.5s;
}

/* Keyframes */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* End of Keyframes */